body{
    background-color: #fff;
    margin: 20px;
    padding: 20px;
}

.gamewindow{
    position: relative;
    float: left; 
    background-color: #000;
    width: 100%;
    height: 600px;
    width:700px;
}

.gamescreen{
    position: relative;
    background-color: bisque;
    width: 580px;
    height:600px;
    left:60px;
}
.gamearea{
    position: relative;
    float:left;
    background-color: white;
    width:500px;
    height:500px;
    top:50px;
    left:40px;
    
}

.cat{
    position: absolute;
    width: 40px;
    height: 50px;
    background-color: orange;
    bottom: 10px;
    left: 240px;
    text-align: center;
    z-index: 1;
}

.dogset1{
    position: absolute;
    width: 420px;
    height: 50px;
    background-color: red;
    left:80px;
   
}

.dogset2{
    position: absolute;
    width: 40px;
    height: 440px;
    background-color: red;
    top:80px;
    left:0px;
   
}
.dogset3{
    position: absolute;
    width: 500px;
    height: 440px;
    background-color: red;
    top:80px;
    right:0px;
}
.dog1{
    display: none;
    position: absolute;
    width: 40px;
    height: 50px;
    right: 0px;
    background-color: blue;
    z-index: 1; 
}

.leftbanner, .rightbanner, .topbanner, .bottombanner{
  display: none;
    z-index: 10;
}

.leftbanner{
    position: absolute;

}

.rightbanner{
    position: absolute;
    right: 0px;
}

.topbanner{
    position: absolute;
    left: 100px;
    top: 0px;
}

.bottombanner{
    position: absolute;
    left: 100px;
    bottom: -4px;
}

#counter{
    width: 50px;
}