body{
    background-color: #fff;
    margin: 20px;
    padding: 20px;
}

.gamewindow{
    float: left; 
    background-color: #000;
    width: 100%;
    height: 600px;
    width:700px;
}

.gamescreen{
    position: relative;
    background-color: bisque;
    width: 580px;
    height:600px;
    left:60px;
}
.gamearea{
    position: relative;
    float:left;
    background-color: green;
    width:500px;
    height:500px;
    top:50px;
    left:40px;
    
}

.cat{
    position: absolute;
    width: 40px;
    height: 50px;
    background-color: orange;
    bottom: 10px;
    left: 240px;
    text-align: center;
}

.dogset1{
    position: absolute;
    width: 420px;
    height: 50px;
    background-color: red;
    left:80px;
   
}

.dogset2{
    position: absolute;
    width: 40px;
    height: 440px;
    background-color: red;
    top:80px;
    left:0px;
   
}
.dogset3{
    position: absolute;
    width: 40px;
    height: 440px;
    background-color: red;
    top:80px;
    right:0px;
}
.dog1, .dog2, .dog3, .dog4{
    position: absolute;
    width: 40px;
    height: 50px;
    background-color: blue;
    text-align: center;
   
}